<div class="about">
    <div class="epicure">
        <div class="text">
            <h2>about us :</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget blandit turpis suscipit at.  Vestibulum sed massa in magna sodales porta.  Vivamus elit urna, dignissim a vestibulum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget blandit turpis suscipit at.  Vestibulum sed massa in magna sodales porta.  Vivamus elit urna, dignissim a vestibulum.</p>
        </div>
        <img src="../../../../assets/icons/about-logo@2x.png" alt="epicure logo">
    </div>
    <div class="app-links">
      <div class="mac">
        <img src="../../../../assets/icons/mac-apple.svg" alt="apple logo">
        <div class="text">
          <p class="top">Download on the</p>
          <p class="bottom">App Store</p>
        </div>
      </div>
      <div class="android">
        <img src="../../../../assets/icons/google-play.svg" alt="google-play logo">
        <div class="text">
          <p class="top">Get it on</p>
          <p class="bottom">Google Play</p>
        </div>
      </div>
    </div>
</div>
