@import "../../../services/typography.scss";

.main {
  padding-top: 2.5rem;
  text-align: center;

  & .popular-rests {
    margin-bottom: 5rem;
  }

  & h2 {
    font-size: $p-small - 0.05rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }
}

@media (min-width: 600px) {
  .main {
    padding: 7rem 0;

    & .popular-rests {
      margin-bottom: 2rem;
    }

    & h2 {
      font-size: $h2-size;
    }

    & .footer {
      text-align: end;
      font-size: $h2-size;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 1rem 0;

      & img {
        display: inline-block;
        margin-left: 1rem;
      }
    }

    & .icons {
      margin-top: 5.5rem;
    }
  }
}
