.main {
  padding: 2.5rem 0;
  text-align: center;

  & h2 {
    font-size: 1.875rem;
    padding: 2.6rem 0;
    text-transform: uppercase;
  }

  & .footer {
    text-align: end;
    font-size: 1.875rem;
    padding: 1rem 0;
  }
}

@media (min-width: 600px) {
  .main {
    padding: 7rem 0;
  }
}
