:host-context(.signature-dishes) {
  .card {
    & .top-header {
      padding: 1rem;
      font-size: $p-small;
      letter-spacing: 2px;
      font-weight: 700;
    }

    & .content {
      min-height: 18rem;

      & .desc {
        font-size: 1.2rem;
      }
    }

    & .footer {
      & .dish-type {
        margin: 0.5rem auto;
        width: 3rem;
      }
    }
  }

  @media (min-width: 960px) {
    .card {
      & .top-header {
        font-size: 1.5rem;
      }

      & .content {
        padding: 0.5rem 1rem;

        & .text {
          & .desc {
            margin: 0 auto;
          }
        }

        & .footer {
          & .dish-type {
            width: 2rem;
          }
          & .dish-price {
            font-weight: 400;
          }
        }
      }
    }
  }

  @media (min-width: 1070px) {
    .card {
      & .content {
        min-height: 23rem;

        & .text {
          & .title {
            font-size: 2rem;
            margin: 1rem auto;
            max-width: 36%;
          }

          & .desc {
            max-width: 76%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
