@import "../../../services/colors.scss";
@import "../../../services/typography.scss";

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & .top-header {
    padding: 1rem;
    font-size: $p-small;
    letter-spacing: 2px;
    font-weight: 700;
  }

  & .image {
    height: 15rem;
    & img {
      min-height: 100%;
      object-fit: cover;
    }
  }

  & .content {
    background-color: $peach;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;

    & .text {
      text-align: center;

      & .title {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
      }

      & .desc {
        font-size: $p-small;
      }
    }

    & .footer {
      & .dish-type {
        width: 1.5rem;
        margin: 0 auto 0.5rem;
        min-height: 1rem;
      }

      & .dish-price {
        display: flex;
        flex-direction: row;

        & img {
          width: 0.6rem;
          margin: 0.2rem 0.1rem 0 0;
        }

        & .hr {
          flex-grow: 2;
          min-width: 5rem;
          max-height: 1px;
          background-color: $dark-gray;
          margin: 0.7rem 0.3rem 0;
        }
      }
    }
  }
}
