:host-context(.signature-dishes) {
  @media (min-width: 960px) {
    .card {
      & .content {
        padding: 0.5rem 1rem;
        min-height: 15rem;
        & .title {
          font-size: 1.5rem;
          margin: 0 auto 0.5rem;
          max-width: 66%;
        }
        & .desc {
          margin: 0 auto;
        }
      }
    }
  }

  @media (min-width: 1070px) {
    .card {
      & .content {
        min-height: 19rem;
        & .title {
          font-size: 2rem;
          margin: 1rem auto;
          max-width: 66%;
        }

        & .desc {
          margin-bottom: 0.5rem;
          max-width: 76%;
        }
      }
    }
  }
}
