@import "../../../services/colors.scss";
@import "../../../services/layout.scss";
@import "../../../services/typography.scss";

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: $p-small;
  margin: 1rem auto;
}

.chef {
  text-align: center;
  display: flex;
  flex-direction: column;

  & .image {
    background-color: $black;
    position: relative;
    width: 100%;

    & .label {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba($white, 0.5);
      text-transform: capitalize;
      text-align: center;
      font-size: 1.75rem;
      padding: 0.5rem 0;
    }
  }

  & .desc {
    padding: 1.3rem 0;
    font-size: 1.125rem;
    // font-size: 0.85rem;
  }

  .restaurants {
    & h3 {
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: $h2-size;
    margin-bottom: 1.875rem;
  }

  .chef {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    & .image {
      width: 40%;
      & .label {
        font-weight: 700;
      }
    }

    & .desc {
      text-align: start;
      font-size: 1.25rem;
      max-width: 55%;
      padding: 0;
    }
  }

  .restaurants {
    margin-bottom: 7rem;

    & h3 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }
}
